<template>
  <v-app>
    <v-app-bar
      :clipped-left="clipped"
      fixed
      app
      color="primary"
      class="white--text"
    >
      <v-toolbar-title @click="index()" style="cursor: pointer">{{
        title
      }}</v-toolbar-title>
      <v-spacer />
      <v-btn icon @click.stop="rightDrawer = !rightDrawer" color="white">
        <v-icon>mdi-menu</v-icon>
      </v-btn>
    </v-app-bar>
    <v-main>
      <Nuxt />
    </v-main>
    <v-navigation-drawer v-model="rightDrawer" :right="right" temporary fixed>
      <v-list>
        <v-list-item style="cursor: pointer">
          <v-list-item-action>
            <v-icon> mdi-link </v-icon>
          </v-list-item-action>
          <v-list-item-title @click="urlCreate()" style="font-weight: bold"
            >Create a Short URL</v-list-item-title
          >
        </v-list-item>
        <v-list-item style="cursor: pointer">
          <v-list-item-action>
            <v-icon> mdi-history </v-icon>
          </v-list-item-action>
          <v-list-item-title @click="history()" style="font-weight: bold"
            >URL History</v-list-item-title
          >
        </v-list-item>
        <v-list-item style="cursor: pointer">
          <v-list-item-action>
            <v-icon> mdi-account </v-icon>
          </v-list-item-action>
          <v-list-item-title @click="aboutme()" style="font-weight: bold"
            >About me</v-list-item-title
          >
        </v-list-item>
      </v-list>
    </v-navigation-drawer>
    <v-footer :absolute="!fixed" app>
      <span>&copy; {{ new Date().getFullYear() }} Supanat Synerry</span>
    </v-footer>
  </v-app>
</template>

<script>
export default {
  name: 'DefaultLayout',
  data() {
    return {
      clipped: false,
      drawer: false,
      fixed: false,
      miniVariant: false,
      right: true,
      rightDrawer: false,
      title: 'Synerry',
    }
  },
  methods: {
    index() {
      this.$router.push('/')
    },
    urlCreate() {
      this.$router.push('/urlcreate')
    },
    history() {
      this.$router.push('/history')
    },
    aboutme() {
      this.$router.push('/aboutme')
    },
  },
}
</script>
