<template>
  <div>
    <v-card class="rounded-xl">
      <v-container>
        <div class="d-flex justify-start align-center">
          <div>
            <v-avatar
              size="60px"
              class="d-flex justify-center ma-2"
              color="transparent"
              style="border-radius: 0%"
            >
              <v-img width="60px" src="link.png"></v-img>
            </v-avatar>
          </div>
          <v-card
            class="justify-self-stretch"
            flat
            color="transparent"
            width="100%"
          >
            <div class="mx-2 mr-2 ml-3">
              <div style="font-size: 13px">
                <h5>{{ data.longUrl }}</h5>
              </div>
              <div
                class="font-weight-bold secondary--text my-2"
                style="font-size: 11px"
              >
                ShortURL : {{ data.shortUrl }}
              </div>
              <div
                class="font-weight-bold secondary--text my-2"
                style="font-size: 13px"
              >
                Click : {{ data.click }}
              </div>
              <a :href="data.shortUrl" target="_blank" @click="handleClick">
                Open Short URL
              </a>
            </div>
            <div>
              <v-btn
                @click="openQRCodeDialog"
                color="primary"
                small
                rounded
                class="mt-2 ml-3"
              >
                Generate QR Code
              </v-btn>

              <v-btn
                @click="deletedialog = true"
                color="error"
                small
                rounded
                class="mt-2 ml-3"
                >Delete URL</v-btn
              >
            </div>
          </v-card>
        </div>
      </v-container>
    </v-card>
    <!-- Dialog Qrcode -->
    <v-dialog v-model="qrcodedialog" persistent max-width="290">
      <v-card rounded="xl">
        <v-card-title class="text-h5" style="place-content: center;"> Qrcode this URL? </v-card-title>
        <div class="text-center">
          <h4>URL : {{ data.longUrl }}</h4>
        </div>
        <v-card class="card mt-3" rounded="xl" style="text-align: center">
          <v-card-text>
            <div
              style="
                position: relative;
                width: inherit;
                height: auto;
                aspect-ratio: 1;
              "
            >
              <img :src="qrCodeImage" />
            </div>
          </v-card-text>
        </v-card>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="grey darken-1" text @click="qrcodedialog = false">
            Cancel
          </v-btn>
          <v-btn color="success darken-1" text> Save </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
    <!-- Dialog Delete -->
    <v-dialog v-model="deletedialog" persistent max-width="290">
      <v-card rounded="xl">
        <v-card-title class="text-h5"> Delete this URL? </v-card-title>
        <v-card-text>URL : {{ data.longUrl }}</v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="grey darken-1" text @click="deletedialog = false">
            Cancel
          </v-btn>
          <v-btn color="error darken-1" text @click="handleDelete">
            Delete
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
import QRCode from 'qrcode'
import axios from 'axios'

export default {
  data() {
    return {
      qrCodeData: '',
      qrCodeImage: '',
      deletedialog: false,
      qrcodedialog: false,
    }
  },
  props: {
    data: {
      type: Object,
      required: true,
    },
  },
  methods: {
    handleClick() {
      this.$emit('addHistory', this.data.shortUrl, this.data.longUrl)
    },
    async handleDelete() {
      try {
        const response = await axios.delete(
          `https://us-central1-synerry-1158c.cloudfunctions.net/api/api/delete/${encodeURIComponent(
            this.data.longUrl
          )}`
        )
        console.log(response.data.message)
      } catch (error) {
        console.error('Error deleting URL:', error.response.data.error)
      } finally {
        this.deletedialog = false
        window.location.reload()
      }
    },
    openQRCodeDialog() {
      this.generateQRCode()
      this.qrcodedialog = true
    },
    generateQRCode() {
      this.qrCodeData = JSON.stringify(this.data.shortUrl)
      QRCode.toDataURL(this.qrCodeData)
        .then((url) => {
          this.qrCodeImage = url
        })
        .catch((error) => {
          console.error(error)
        })
    },
  },
  watch: {
    data: {
      handler: 'generateQRCode',
      immediate: true,
    },
  },
  created() {
    this.generateQRCode()
  },
}
</script>


<style scoped>
.card {
  margin: auto;
  border-radius: 50px;
  width: 170px;
}
</style>
