<template>
  <v-container style="text-align: -webkit-center">
    <div class="pa-3" style="text-align: -webkit-center">
      <v-card
        rounded="xl"
        class="text-center grey--text"
        style="max-width: 400px"
        flat
        color="transparent"
      >
        <v-icon size="30px"> mdi-account </v-icon>
        <h2>About me</h2>
      </v-card>
    </div>
    <v-card style="max-width: 750px" rounded="xl" color="primary">
      <v-container style="text-align: center">
        <img src="boss.jpg" style="width: 20rem; border-radius: 5%" />
        <v-card rounded="xl" class="mt-1">
          <v-container>
            <h2>Supanat Litchaweerat</h2>
            <h4>Fullstack Web Developer</h4>
            <h4 class="mt-3">Contact me</h4>
            <div class="mt-2">
              <v-btn @click="openFacebook" text>
                <v-icon size="30px" color="blue">mdi-facebook</v-icon>
              </v-btn>
              <v-btn @click="callPhoneNumber" text>
                <v-icon size="30px" color="success">mdi-phone</v-icon>
              </v-btn>
            </div>
          </v-container>
        </v-card>
      </v-container>
    </v-card>
  </v-container>
</template>
  
  <script>
export default {
  methods: {
    openFacebook() {
      window.open(
        'https://www.facebook.com/profile.php?id=100009242937136',
        '_blank'
      )
    },
    callPhoneNumber() {
      window.open('tel:+66898505850')
    },
  },
}
</script>
  
  <style>
</style>
  