<template>
  <v-container>
    <div class="pa-3" style="text-align: -webkit-center">
      <v-card
        rounded="xl"
        class="text-center grey--text"
        style="max-width: 400px"
        flat
        color="transparent"
      >
      <v-icon size="30px">
        mdi-history
      </v-icon>
        <h2>URL History</h2>
      </v-card>
    </div>
    <v-card rounded="xl" color="primary">
      <v-container>
        <v-row dense>
          <v-col
            cols="12"
            md="6"
            lg="4"
            v-for="data in allData"
            :key="data._id"
          >
            <history-card :data="data" @addHistory="addHistory"></history-card>
          </v-col>
        </v-row>
      </v-container>
    </v-card>
  </v-container>
</template>

<script>
import axios from 'axios'
import historyCard from '../components/historyCard.vue'

export default {
  components: { historyCard },
  data() {
    return {
      allData: [],
      historyData: [],
    }
  },
  methods: {
    async getAllData() {
      try {
        const response = await axios.get(
          'https://us-central1-synerry-1158c.cloudfunctions.net/api/api/alldata'
        )
        this.allData = response.data.allData
      } catch (error) {
        console.error('Error getting all data:', error)
      }
    },
    async getHistory(longUrl) {
      try {
        const response = await axios.get(
          `https://us-central1-synerry-1158c.cloudfunctions.net/api/api/data/${encodeURIComponent(
            longUrl
          )}`
        )
        this.historyData = response.data.urlData
        console.log(this.historyData)
      } catch (error) {
        console.error('Error in getHistory:', error)
      }
    },
    async increaseClickCount(shortUrl) {
      try {
        await axios.put(
          `https://us-central1-synerry-1158c.cloudfunctions.net/api/api/click/${encodeURIComponent(
            shortUrl
          )}`
        );
        window.location.reload();
      } catch (error) {
        console.error('Error in increaseClickCount:', error);
      }
    },
    addHistory(shortUrl, longUrl) {
      this.getHistory(longUrl)
      this.increaseClickCount(shortUrl)
    },
  },
  created() {
    this.getAllData()
  },
}
</script>

<style>
</style>
