<template>
  <v-container style="text-align: -webkit-center">
    <div class="pa-3" style="text-align: -webkit-center">
      <v-card
        rounded="xl"
        class="text-center grey--text"
        style="max-width: 400px"
        flat
        color="transparent"
      >
        <v-icon size="30px"> mdi-link </v-icon>
        <h2>Create a Short URL</h2>
      </v-card>
    </div>
    <v-card rounded="xl" color="primary" style="max-width: 750px">
      <v-container>
        <h3 class="white--text">Shorten URL</h3>
        <v-text-field
          v-model="longUrl"
          solo
          label="Enter Long URL"
          clearable
          class="mt-2"
        ></v-text-field>
        <div class="d-flex justify-center">
          <v-btn @click="shortenAndRedirect" outlined color="white"
            >Generate</v-btn
          >
        </div>
        <div>
          <v-card color="secondary" class="mt-5" rounded="xl">
            <v-container>
              <h3 style="font-weight: bold">Short URL</h3>
              <a
                :href="shortUrl"
                target="_blank"
                @click="addHistory()"
                class="white--text"
                >{{ shortUrl }}</a
              >
            </v-container>
          </v-card>
        </div>
      </v-container>
    </v-card>
    <div v-if="shortUrl.length !== 0">
      <v-card class="card mt-3" rounded="xl" style="text-align: center">
        <v-card-text>
          <div
            style="
              position: relative;
              width: inherit;
              height: auto;
              aspect-ratio: 1;
            "
          >
            <img :src="qrCodeImage" />
          </div>
        </v-card-text>
      </v-card>
    </div>
    <!-- Dialog warning -->
    <v-dialog v-model="warningdialog" persistent max-width="290">
      <v-card rounded="xl">
        <v-card-title class="text-h5">Warning</v-card-title>
        <v-card-text>{{ warningMessage }}</v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="green darken-1" text @click="warningdialog = false">
            Agree
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-container>
</template>

<script>
import QRCode from 'qrcode'
import axios from 'axios'

export default {
  data() {
    return {
      longUrl: '',
      shortUrl: '',
      qrCodeData: '',
      qrCodeImage: '',
      historyData: [],
      warningdialog: false,
      warningMessage: '',
    }
  },
  methods: {
    async shortenAndRedirect() {
      try {
        if (!this.longUrl || !this.isValidUrl(this.longUrl)) {
          this.warningMessage = 'Invalid URL. Please enter a valid URL.'
          this.warningdialog = true
          return
        }
        const response = await axios.post(
          'https://us-central1-synerry-1158c.cloudfunctions.net/api/api/shorten',
          {
            longUrl: this.longUrl,
          }
        )
        this.shortUrl = response.data.shortUrl
        this.generateQRCode()
        this.getHistory()
      } catch (error) {
        console.error('Error in shortenAndRedirect:', error)
        this.warningMessage = 'An error occurred while shortening the URL.'
        this.warningdialog = true
      }
    },
    generateQRCode() {
      this.qrCodeData = JSON.stringify(this.shortUrl)
      QRCode.toDataURL(this.qrCodeData)
        .then((url) => {
          this.qrCodeImage = url
        })
        .catch((error) => {
          console.error(error)
        })
    },
    async getHistory() {
      try {
        const response = await axios.get(
          `https://us-central1-synerry-1158c.cloudfunctions.net/api/api/data/${encodeURIComponent(
            this.longUrl
          )}`
        )
        this.historyData = response.data.urlData
        console.log(this.historyData)
      } catch (error) {
        console.error('Error in getHistory:', error)
      }
    },
    async increaseClickCount(shortUrl) {
      try {
        await axios.put(
          `https://us-central1-synerry-1158c.cloudfunctions.net/api/api/click/${encodeURIComponent(
            shortUrl
          )}`
        )
      } catch (error) {
        console.error('Error in increaseClickCount:', error)
      }
    },
    saveQRCodeImage() {
      const link = document.createElement('a')
      link.href = this.qrCodeImage
      link.download = 'qrcode.png'
      document.body.appendChild(link)
      link.click()
      document.body.removeChild(link)
    },
    addHistory() {
      this.getHistory()
      this.increaseClickCount(this.shortUrl)
    },
    isValidUrl(url) {
      const urlPattern = /^(https?|ftp):\/\/[^\s/$.?#].[^\s]*$/i;
      return urlPattern.test(url);
    },
  },
}
</script>

<style scoped>
.card {
  margin: auto;
  border-radius: 50px;
  width: 170px;
}
</style>


